* {
  border-sizing: border-box;
}

img{
  width:50px;
  position: absolute;
  left: 44px;
  top: 35px;
  border-radius:20%;
    animation: shake2 4s infinite alternate;
}
#ball {
  border: 10px solid black;
  height:200px;
  width:200px;
  border-radius: 160px;
 background: linear-gradient(red, red, red, white, white, white);
  animation: shake 4s infinite alternate;
}

@keyframes shake{
  0%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(-45deg);
    width: 100px;
    height:100px ;
 background: linear-gradient(lime, lime, lime, purple, purple, purple);
    opacity: 0.2;
  }
}
@keyframes shake2{
  100%{
    transform: rotate(45deg);
  }
  0%{
    transform: rotate(-45deg);
    width: 100px;
    height:100px ;
    opacity: 0.2;
  }
}

#bar{
width: 100%;
height:10%;
background: black;
  margin-top: 46%;
  }
#button {
  width: 25%;
  height: 25%;
  background: purple;
  position: relative;
  top: -20%;
  left: 35%;
  border: solid 5px;
  border-radius: 50%;
    animation: flash 1s infinite alternate; 
}

@keyframes flash{
  45%{
    background:blue;
  }
}

#center {
  height: 60%;
  width: 60%;
  border: solid 5px;
  border-radius: 50%;
  position: relative;
  top: 10%;
  left: 10%;
  box-shadow: 0 0 5px 1px blue;
  background: gold;
   animation: flash2 1s infinite alternate; 
}
@keyframes flash2{
  45%{
    background:silver;
  }
}
#shaker{
  
}